@import views.TtsHelpers._

@(ttsForm: Form[models.TtsForm], voices: Seq[(String, String)])(implicit messages: Messages, flash: Flash, request: RequestHeader)

@main {

<div class="container-fluid">

    <h1>Post a message!</h1>

    @flash.get("success").map { message =>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }

    @flash.get("error").map { errorMessage =>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @errorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    }

    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-12">
            @helper.form(action = routes.AppController.postMessage) {
            @helper.CSRF.formField
            @helper.inputText(ttsForm("text"),
            'id -> "input-text",
            'class -> ttsForm("text").error.map(_ => "form-control is-invalid").getOrElse("form-control"))
            @helper.select(ttsForm("voice"),
            voices,
            'id -> "input-voice",
            'class -> ttsForm("voice").error.map(_ => "form-control is-invalid").getOrElse("form-control"))
            <button id="btn-submit" type="submit" class="btn btn-primary btn-block">Submit</button>
            }
        </div>
    </div>

</div>
}
